*{
    margin: 0
    background-color:blue;    
}
.item {
    width: 200px;
height: 200px;
background: rgb(130, 23, 23);
margin: 40px 0 0 40px;
} 
.item >div {
    width: 200px;
height: 200px;
background: rgb(136, 116, 116);
margin: 40px 0 0 40px;
position: relative;
right: 70px;
bottom: 30px;
}
.item2 {
    width: 200px;
height: 200px;
background: rgb(130, 23, 93);
margin: 40px 0 0 40px;
position: relative;
}
.item2 >div{
    width: 200px;
height: 200px;
background: rgb(130, 23, 23);
margin: 40px 0 0 40px;
position: absolute;
top: 20px;
left: 100px;
}
.item3{
    width: 200px;
    height: 200px;
    background: rgb(23, 130, 105);
    margin: 40px 0 0 40px;  
    position: ;
}
.item3 >div{
    width: 200px;
    height: 200px;
    background: rgb(130, 23, 23);
    margin: 40px 0 0 40px
}
